<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title Index
    body
        .index
            .index__top

            .index__col
                .index__col1 
                .index__col2 
                .index__col3 
                    .index__col3-1 